*{
	font-family: 'Roboto', 'Noto', sans-serif;
}

hr{
	color: #8e8c83;
	margin: 8px;
}

h1{
	font-weight: 200;
	margin: 16px;
	color: #FFFFFF;
}

h2{
	font-weight: 400;
	margin: 16px;
	color: #FFFFFF;
}

h3{
	font-weight: 200;
	margin: 16px;
	color: #FFFFFF;
}

h4{
	font-weight: 200;
	margin: 16px;
	color: #FFFFFF;
}

.rate-header{
	color: #FFFFFF;	
	width: 40%;
	display: inline-block
}

.rate-name{
	color: #FFFFFF;
	width: 40%;
	display: inline-block
}

.sub-header{
	color: #FFFFFF;
	width: 40%;
	display: inline-block
}

.invisible{
	display: none;
	margin: 16px;
}

.rate-content{
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)
		),
	url('../images/dark_tile.jpg');
}

.rate{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.rate-icon{
	fill: #3F51B5;
}

.info{
	font-weight: 200;
	margin: 16px;
	color: #FFFFFF;
}
#contact-button{
	fill: #3F51B5;
}

#collapseToolbar{
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)
		),
	url('../images/blue_background.jpg');
}

#swap {
	vertical - align: top;
	width: 0;
	height: 3em;
	/* needed. px, em or any other */;
}

#swap > span {
	position: absolute;
}

#toolbar{
	background: #303F9F;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#gitButton{
	margin: 16px;
	background-color: #B53F51;
	box-shadow: 2px 2px 1px #888888;
}

#collapse{
	margin-top: 4px;
	font-weight: 200;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #8e8c83;
	box-shadow: 10px 10px 5px #888888;
	background-color: #3F51B5;
}

#animationText{
	float: right;
	margin: 4px;
	/*-webkit-animation-delay: 5s;*/
}
